/*.form-container {
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 60%;
}*/

.input-box {
  padding: 0.5%;
  margin: 13px;
  width: 15%;
  font-size: 15px;
}
.select-box {
  font-size: 15px;
  color: #727787;
  width: 15%;
  height: 35px;
  margin: 13px;
  background-color: #ffff;
  border-radius: 0;
}

@media (min-width: 768px) {
  .submit-button {
    width: 19%;
  }
}

@media (min-width: 1024px) {
  .submit-button {
    width: 14%;
  }
}
