.location-nav {
  display: flex;
  flex-direction: column;
  flex: 18%

}

.tab {
  padding: 5px;
  margin: 1px;
  width: 16%;
  justify-content: space-between;
  border: 1px #727787;
  background-color: #75585C;
  text-align: center;
  color: #dfe8e3;
  font-size: 14px;
  text-decoration: none;
}


 .sort-function {
  background-color: #727787;
}
